// In Microsoft Visual C++ generiertes Ressourcenskript.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Von der Ressource TEXTINCLUDE 2 generiert.
//
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// Englische Ressourcen (US)

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE 7, 1
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE  
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "\r\n"
    "#include ""git.rc2""  // non-Microsoft Visual C++ edited resources\r\n"
END

#endif    // APSTUDIO_INVOKED

#endif    // Englische Ressourcen (US)
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Von der Ressource TEXTINCLUDE 3 generiert.
//

#include "git.rc2"  // non-Microsoft Visual C++ edited resources

/////////////////////////////////////////////////////////////////////////////
#endif    // nicht APSTUDIO_INVOKED

