<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="curl" version="7.30.0.2" />
  <package id="curl.redist" version="7.30.0.2" />

  <package id="expat" version="2.1.0.11" />

  <package id="libiconv" version="1.14.0.11" />
  <package id="libiconv.redist" version="1.14.0.11" />

  <package id="libssh2" version="1.4.3.3" />
  <package id="libssh2.redist" version="1.4.3.3" />

  <package id="openssl" version="1.0.2.1" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.1" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.1" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.1" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.1" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.1" />

  <package id="zlib" version="1.2.8.8" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" />

</packages>
