#!/bin/sh
#
# An example hook script to check the cummit log message.
# Called by "but cummit" with one argument, the name of the file
# that has the cummit message.  The hook should exit with non-zero
# status after issuing an appropriate message if it wants to stop the
# cummit.  The hook is allowed to edit the cummit message file.
#
# To enable this hook, rename this file to "cummit-msg".

# Uncomment the below to add a Signed-off-by line to the message.
# Doing this in a hook is a bad idea in general, but the prepare-cummit-msg
# hook is more suited to it.
#
# SOB=$(but var GIT_AUTHOR_IDENT | sed -n 's/^\(.*>\).*$/Signed-off-by: \1/p')
# grep -qs "^$SOB" "$1" || echo "$SOB" >> "$1"

# This example catches duplicate Signed-off-by lines.

test "" = "$(grep '^Signed-off-by: ' "$1" |
	 sort | uniq -c | sed -e '/^[ 	]*1[ 	]/d')" || {
	echo >&2 Duplicate Signed-off-by lines.
	exit 1
}
