#!/bin/sh
#
# An example hook script to check the cummit log message taken by
# applypatch from an e-mail message.
#
# The hook should exit with non-zero status after issuing an
# appropriate message if it wants to stop the cummit.  The hook is
# allowed to edit the cummit message file.
#
# To enable this hook, rename this file to "applypatch-msg".

. but-sh-setup
cummitmsg="$(but rev-parse --but-path hooks/cummit-msg)"
test -x "$cummitmsg" && exec "$cummitmsg" ${1+"$@"}
:
