*.xml
*.html
*.[1-8]
*.made
*.texi
*.pdf
git.info
gitman.info
howto-index.txt
doc.dep
cmds-*.txt
mergetools-*.txt
SubmittingPatches.txt
tmp-doc-diff/
tmp-meson-diff/
GIT-ASCIIDOCFLAGS
/.build/
/GIT-EXCLUDED-PROGRAMS
/asciidoc.conf
/asciidoctor-extensions.rb
