*.xml
*.html
*.[1-8]
*.made
*.texi
*.pdf
but.info
butman.info
howto-index.txt
doc.dep
cmds-*.txt
mergetools-*.txt
manpage-base-url.xsl
SubmittingPatches.txt
tmp-doc-diff/
BUT-ASCIIDOCFLAGS
/.build/
/BUT-EXCLUDED-PROGRAMS
