*.xml
*.html
*.[1-8]
*.made
*.texi
*.pdf
git.info
gitman.info
howto-index.txt
doc.dep
cmds-*.txt
mergetools-*.txt
manpage-base-url.xsl
SubmittingPatches.txt
tmp-doc-diff/
GIT-ASCIIDOCFLAGS
/GIT-EXCLUDED-PROGRAMS
